name: Continuous Integration (CI)

on: pull_request

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: [shell]
    steps:
      - name: Checkout code.
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Check formatting.
        run: make check-${{ matrix.language }}-formatting
  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Compile.
        run: make compile
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Unit Test.
        run: make unit-test

